extends layout

block content
	h1 Bird records
	
	
	h2 Birds Seen
	
	.birdsSeen
		for bird in birds
			p Name: #{bird.name}
			p Description: #{bird.description}
			p Average Eggs Laid: #{bird.averageEggsLaid}

			if bird.threatened
				p This bird is threatened
			p Dates seen:
				ul
					for date in bird.datesSeen
						li #{date}

			form(action="/addDate", method="POST")

				label Add new date seen
					input(name="dateSeen" type="date" required)
				input(name="name" value="#{bird.name}" hidden)
				input(name="addDate" type="submit" value="Add new date")

		hr

	h2 Add Bird Sighting
		
	.addNewSighting

		if error
			p(style="font-weight: bold") #{error}

		form(submit='/', method='POST')
			label Name (required)
				input(name="name" type="text" required)
			br
			label Description
				input(name="description" type="text")
			br
			label Average Eggs
				input(name="averageEggsLaid" type="number", min="0")
			br
			label Threatened?
				input(name="threatened" type="checkbox")
			br
			label Date seen (required)
				input(name="dateSeen" type="date")
			br
			input(type="submit" name="addBird" value="Add new sighting")
			
	hr
		
	h2 Delete A Bird

	div.delete_bird
	
		each bird in birds
			form(action='/deleteBird' method='post')
				p Name: #{bird.name}
				input(name="name" value="#{bird.name}" hidden)
				input.button#delete_bird_button(type="submit" value="Delete Bird")
	hr
		
	h2 Update A Bird
	
	div.update_bird

		each bird in birds
			form(action='/updateBird' method='post')
				p Name: #{bird.name}
				input(name="name" value="#{bird.name}" hidden)
				input.button(type="submit" value="Update Bird")
		